* {
  box-sizing: border-box;
}
:root {
  --font-family: "Courier New", Courier, monospace;
  --background-color: hsla(0, 0%, 10%);
  --ul-background-color: hsla(0, 0%, 20%);
  --li-background-color: hsla(0, 0%, 10%);
  --li-background-color-hover: hsla(0, 0%, 15%);
  --li-background-color-active: hsla(0, 0%, 5%);
  --font-color: hsla(0, 0%, 80%);
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}
main {
  margin: auto;
  min-width: 400px;
  max-width: 1200px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  user-select: none;
  border: 10px solid black;
}
h1 {
  font-family: var(--font-family);
  font-size: 3rem;
  color: var(--font-color);
}
ul {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: auto;
  padding: 0;
  overflow-x: hidden;
  margin-top: 0;
  flex-grow: 1;
}
li {
  background-color: var(--li-background-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  min-height: fit-content;
  list-style-type: none;
  margin: 0.2rem;
  margin-top: 0;
  padding: 0.1rem;
  border: none;
  box-shadow: 1px 1px 4px gray;
}
li:hover {
  background-color: var(--li-background-color-hover);
}
li:active {
  background-color: var(--li-background-color-active);
  box-shadow: 1px 1px 4px gray inset;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  margin: 0.2rem;
  margin-top: 0;
  padding: 0.1rem;
}

.input-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--ul-background-color);
  width: 100%;
  height: 600px;
  padding: 1rem;
}
@media (min-width: 800px) {
  .input-list-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    background-color: var(--ul-background-color);
    width: 100%;
    height: 600px;
    padding: 1rem;
  }
}
.input-text {
  min-width: 70%;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  padding: 1rem;
  color: black;
  flex-grow: 1;
}

button {
  font-family: var(--font-family);
  height: 3rem;
  min-width: 3rem;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  box-shadow: 1px 1px 4px gray;
}

.button-add {
  background-color: hsl(110, 100%, 60%);
  border: none;
  font-weight: bold;
  font-size: 3rem;
  flex-shrink: 0;
}

.button-add:hover {
  background-color: hsla(110, 100%, 70%);
}
.button-add:active {
  box-shadow: 1px 1px 4px gray inset;
  background-color: hsla(110, 100%, 50%);
}
.button-del {
  background-color: hsl(240, 100%, 60%);
  color: lightgray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  flex-shrink: 0;
}

.button-del:hover {
  background-color: hsl(240, 100%, 70%);
}
.button-del:active {
  box-shadow: 1px 1px 4px gray inset;
  background-color: hsla(240, 100%, 50%);
}
.button-clear {
  border: none;
  background-color: hsla(26, 100%, 50%);
  font-size: 1.4rem;
  width: fit-content;
}
.button-clear:active {
  box-shadow: 1px 1px 4px gray inset;
  background-color: hsla(26, 100%, 40%);
}
.button-clear:hover {
  background-color: hsla(26, 100%, 60%);
}

.checkbox {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  margin-left: 1rem;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
}

.empty-list-message {
  width: 100%;
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 2rem;
  text-align: center;
}
