* {
  box-sizing: border-box;
  font-family: var(--font-family);
}
:root {
  --font-family: Roboto, sans-serif;
  --bgcolor-light: white;
  --font-color-light: white;
  --bgcolor-dark: #6002ee;
  --font-color-dark: hsl(0, 0%, 20%);
  --box-shadow-dark: 1px 1px 2px gray;
  --box-shadow-dark-inset: 1px 1px 2px gray inset;
  --border-radius: 0.2rem;
  --secondary: #03dac5;
  --secondary-hover: hsl(174, 97%, 48%);
  --secondary-active: hsl(174, 97%, 38%);
  --secondary-variant: #018786;
  --error: #b00020;
  --error-active: hsl(349, 100%, 30%);
  --error-hover: hsl(349, 100%, 40%);
  --li-background-color: hsla(0, 0%, 10%);
  --li-background-color-hover: hsla(0, 0%, 15%);
  --li-background-color-active: hsla(0, 0%, 5%);
}
body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor-light);
  user-select: none;
}
/* Wrappers and elements placed in grid */
.wrapper {
  position: static;
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr) 0.4fr;
  gap: 10px;
  min-width: 400px;
  max-width: 1200px;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/1/2/6;
  width: auto;
  top: 0;
  position: sticky;
  margin: 0;
  padding: 1rem;
  background-color: var(--bgcolor-dark);
  font-family: var(--font-family);
  color: var(--font-color-light);
  box-shadow: 0px 2px 6px 3px black;
}
.list-wrapper {
  grid-area: 2/1/9/6;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: var(--bgcolor-light);
  overflow: hidden;
}
.input-card {
  grid-area: 2/1/10/6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1;
  padding: 1rem;
  background-color: var(--bgcolor-light);
  border-top: 1px solid gray;
  box-shadow: 0px -2px 6px black;
  border-radius: var(--border-radius);
  transition: all 1s;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 9/1/10/6;
  width: 100%;
  bottom: 0;
  position: sticky;
  margin: 0;
  padding: 1rem;
  background-color: var(--bgcolor-dark);
  font-family: var(--font-family);
  color: var(--font-color-light);
  box-shadow: 0px -2px 6px 3px black;
}

.add-circle-button-wrapper {
  grid-area: 8/5/9/6;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-size: 2.4rem;
  margin: 0;
}

ul {
  padding: 1rem;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* Input excl checkbox*/

.input-label {
  font-size: 1.6rem;
}
.text-input {
  font-size: 1.6rem;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
  border: 1px solid lightgray;
  border-radius: var(--border-radius);
}

.text-area {
  font-size: 1.6rem;
  width: 100%;
  height: 100px;
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  border-color: lightgray;
  border-radius: var(--border-radius);
  overflow: auto;
  resize: none;
}

/* List item incl checkbox*/
li {
  display: flex;
  flex-direction: row;
  background-color: var(--bgcolor-light);
  margin: 0.2rem;
  padding: 1rem;
  justify-content: space-between;
  min-height: fit-content;
  font-family: var(--font-family);
  box-shadow: var(--box-shadow-dark);
  cursor: pointer;
}
.list-text {
  text-align: start;
  margin: 0;
  padding: 0;
  padding-left: 0.2rem;
  font-size: 1.6rem;
  flex: 8 0;
}

li:hover {
  background-color: hsl(0, 0%, 95%);
}

details p {
  color: gray;
}
.details {
  font-size: 1.2rem;
  margin-left: 2.6rem;
  padding-left: 0;
  flex-grow: 8;
}

.details-summary {
  padding-top: 0.7rem;
  font-size: 1.6rem;
  margin-left: -1.8rem;
}

input[type="checkbox"] {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

/* Buttons */

Button {
  font-size: 1.6rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 1rem;
  margin: 0;
  font-family: var(--font-family);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
}

.button-add {
  font-weight: bold;
  background-color: var(--secondary);
  color: var(--font-color-dark);
}
.button-add:hover {
  background-color: var(--secondary-hover);
  transition: background-color 0.2s;
}
.button-add:active {
  background-color: var(--secondary-active);
  transform: scale(0.98);
}
.button-add:focus {
  text-decoration: underline;
}

.button-empty {
  font-weight: bold;
  background-color: var(--error);
  color: var(--font-color-light);
}
.button-empty:hover {
  background-color: var(--error-hover);
  color: var(--font-color-light);
  transition: background-color 0.2s;
}
.button-empty:active {
  background-color: var(--error-active);
  color: var(--font-color-light);
  transform: scale(0.98);
}

.button-trash {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: var(--font-color-light);
  background-color: var(--error);
  box-shadow: var(--box-shadow-dark);
}
.button-trash:hover {
  background-color: var(--error-hover);
}
.button-trash:active {
  background-color: var(--error-active);
  transform: scale(0.98);
}

.add-circle-button-0 {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border-radius: 50%;
  fill: var(--font-color-dark);
  background-color: var(--secondary);
  cursor: pointer;
  rotate: 0deg;
  transition: rotate 0.4s;
}
.add-circle-button-0:hover {
  background-color: var(--secondary-hover);
}
.add-circle-button-0:active {
  transform: scale(0.98);
  background-color: var(--secondary-active);
}
.add-circle-button-45 {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border-radius: 50%;
  fill: var(--font-color-dark);
  background-color: var(--secondary);
  cursor: pointer;
  rotate: 45deg;
  transition: rotate 0.4s;
}
.add-circle-button-45:hover {
  background-color: var(--secondary-hover);
}
.add-circle-button-45:active {
  transform: scale(0.98);
  background-color: var(--secondary-active);
}
.add-circle-button-wrapper:active {
  box-shadow: 3px 3px 3px grey;
}
